In [3]:
import pandas as pd
sawonDB = pd.read_csv('./data/sawonDB.csv',\
                          names =['sabun','saname','deptno','sajob','sapay','sahire','sasex','samgr'],header=None)
sawonDB =sawonDB.replace("'","",regex = True)
sawonDB1 = sawonDB[:]
sawonDB1['saname']=sawonDB1['saname'].str.strip("' ")
sawonDB1['sajob']=sawonDB1['sajob'].str.strip("' ")
sawonDB1['sahire']=sawonDB1['sahire'].str.strip("' ")
sawonDB1['sasex']=sawonDB1['sasex'].str.strip("' ")

In [4]:
sawonDB

    sabun saname  deptno sajob  sapay      sahire sasex  samgr
0       1    홍길동      10    회장   5000  1980/01/01    남자   null
1       2    한국남      20    부장   3000  1988/11/01    남자      1
2       3    이순신      20    과장   3500  1985/03/01    남자      2
3       5    이순라      20    사원   1200  1990/05/01    여자      3
4       7    놀기만      20    과장   2300  1996/06/01    여자      2
5      11    뷰별나      20    과장   1600  1989/12/01    여자      2
6      14    채시라      20    사원   3400  1993/10/01    여자      3
7      17    이성계      30    부장   2803  1984/05/01    남자      1
8      13    무궁화      10    부장   3000  1996/11/01    여자      1
9      19    임꺽정      20    사원   2200  1988/04/01    남자      7
10     20    깨똥이      10    과장   4500  1990/05/01    남자     13
11      6    공부만      30    과장   4003  1995/05/01    남자     17
12      8    채송화      30    대리   1703  1992/06/01    여자     17
13      4    이미라      30    대리   2503  1983/04/01    여자     17
14     10    공부해      30    사원   1303  1988/11/01    남자      4
15     12    뷰명한      10    대리   1800  1990/10/01    남자     20
16      9    무궁화      10    사원   1100  1984/08/01    여자     12
17     15    최진실      10    사원   2000  1991/04/01    여자     12
18     16    김유신      30    사원    400  1981/04/01    남자      4
19     18    강감찬      30    사원   1003  1986/07/01    남자      4

In [5]:
a = input('이름을 입력하세요:')
b = sawonDB[sawonDB['saname'].str.contains(a)]['sapay'].mean()
print(b)

이름을 입력하세요:안녕
nan

In [6]:
a = input('이름을 입력하세요')
b = sawonDB1['saname'] == a
sawonDB1[b]['sapay']

이름을 입력하세요안녕

Series([], Name: sapay, dtype: int64)

In [ ]:
na = input('이름을 입력하세요:')
b = sawonDB[sawonDB['saname'].str.contains(na)]['sapay'].mean()

if b > 3000:
    print("상위소득자입니다")
elif b>=2000 and b <3000:
    print('중위소득자입니다.')
else:
    print("월급조정대상자입니다.")

In [15]:
#직업을 물어보고 직업을 입력하면 해당 직업사원들의
#이름과 직업이 출력 되게 하고 없는 직업은 직업을 입력하면 출력하게 된다.

na = input('직업을 입력하세요:')
b = sawonDB[sawonDB['sajob'].isin([na])]
c = sawonDB['sajob'].unique()

if na in c: # if na in c na값이 대리이면 c값을 비교 
    print(b[['sajob','saname']])  #리스트 값 안에는 콤마를 쓸수 없기 때문에 리스트안에 리스트값을 쓴다.
else:
    print("해당 직업없음")

직업을 입력하세요:대리
   sajob saname
12    대리    채송화
13    대리    이미라
15    대리    뷰명한